@import '../../../style.scss';

.Scimago {
  background-color: $darkBlueColor;
  color: white;
  padding-top: 36px;

  h3 {
    font-weight: bold;
  }

  .Title {
    font-style: italic;
    color: $lightBlueColor;
  }

  .TableTitle {
    padding: 5px;
    text-align: center;

    HR {
      border-top: 1px solid $greyAColor;
      margin: 0;
    }
  }

  .Content {
    height: 500px;
    overflow-y: scroll;
  }

  .Row {
    background-color: white;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 25px;
    height: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 5px;
  }

  .Rank {
    color: $darkBlueColor;
    padding-left: 25px;
  }

  .CountryName {
    color: $darkBlueColor;
    background-color: $skyBlueColor;
    border-radius: 25px;
    font-size: 1.1rem;
    padding-top: 3px;
  }

  .Number {

  }

}
