@import '../../../style.scss';

.Scimago {
  background-color: $darkBlueColor;
  color: white;
  padding-top: 36px;

  h3 {
    font-weight: bold;
  }

  .Title {
    font-style: italic;
    color: $lightBlueColor;
  }

  .TableTitle {
    padding: 5px;
    text-align: center;

    HR {
      border-top: 1px solid $greyAColor;
      margin: 0;
    }
  }

  .Content {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .Row {
    background-color: white;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 25px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 5px;
  }

  .Rank {
    color: $darkBlueColor;
    padding-left: 25px;
  }

  .CountryName {
    color: $darkBlueColor;
    background-color: $skyBlueColor;
    border-radius: 25px;
    font-size: 1.1rem;
    SPAN {
      margin-top: 5px;
      display: inline-block;
    }

    IMG {
      width: 35px;
      padding-right: 5px;
      display: inline-block;
    }
  }

  .Number {
    color: white;
    background-color: $greyBColor;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 90px;
  }

  .NumberSelected {
    background-color: $blueColor;
  }

  .BtnSort {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 17px;
    color: white;
    background-color: $greyBColor;
  }
  .BtnSortSelected{
    background-color: $blueColor;
  }

}
