@import '../../../../style.scss';

.ArrowRight {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid $darkBlueColor;
}

.LeftCol {
  background-color: $darkBlueColor;
}

.IndicPart {
  p {
    color: white;
  }
}
