@import '../../../../style.scss';

.ArrowRight {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $darkBlueColor;
}

.ListBtn {
  float: right;
  font-style: italic;
}

.Selector {
  background-color: $blueColor;
  position: absolute;
  z-index: 1000;
  width: 440px;
  height:440px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

.LeftCol {
  background-color: $darkBlueColor;
  SPAN {
    line-height: 22px;
    display: block;
  }
  span:first-child {
    padding-top: 15px;
    color: $greyBColor;
  }
  span:last-child {
    color: white;
    font-size: 1.7rem;
  }
  .IndicPart {
    line-height: 20px;
    color: white;
    padding-top: 20px;
  }
}
