@import '../../../../style.scss';

.Arrow {
  margin-left: 30px;
}

.Selector {
  display: inline-block;
  position: relative;
  DIV:first-child {
    background-color: $blueColor;
    position: absolute;
    z-index: 1000;
    width: 440px;
    height:440px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.BtnCountry {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #696969;
  background-color: white;
  border-radius: 15px;
  font-style: italic;
  border: 0;
  cursor: pointer;
}

.BtnCountryListDown {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: white;
  background-color: $blueColor;
  border-radius: 15px;
  font-style: italic;
  border: 0;
  cursor: pointer;
}


.BtnDefaultCountry {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #696969;
  background-color: white;
  border-radius: 15px;
  width: 95px;
  font-style: italic;
  border: 0;
  cursor: pointer;
}

.Dot {
  margin-right: 5px;
  height: 15px;
  width: 15px;
  border:1px solid black;
  border-radius: 50%;
  display: inline-block;
  background-color: #ccc;
}

.Text {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-style: italic;
}

.BtnInList {
  color: white;
  cursor: pointer;
}

.ListSearch {
  color: white;
  // font-style: italic;
  input {
    font-style: italic;
  }
  span {
    font-style: normal;
  }
}
