@import '../../../../style.scss';

.ArrowRight {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $darkBlueColor;
}

.Hr {
  color: $ueColor;
  border-width: 3px;
}

.ListBtn {
  float: right;
  font-style: italic;
}

.exportBtn {
  span {
    font-style: italic;
    color: white;
    margin-right: 10px;
  }
  button {
    margin-left: 15px;
    margin-right: 8px;
    cursor: pointer;
  }
}

.dot {
  height: 35px;
  width: 35px;

  border: 0;
  background-color: $blueColor;
  border-radius: 50%;
  i {
    color: white;
  }
}

.Selector {
  background-color: $darkBlueColor;
  position: absolute;
  z-index: 9;
  width: 100%;
  height:584px;
  margin-left: -15px;
  padding-left: 30px;
  padding-right: 30px;

  opacity: 0.95;
  -webkit-filter: blur(4px);
}

.RadioContainer {
  position: absolute;
  width: 98%;
  height:580px;
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
}

.Radio {
  overflow-y: auto;
  height: 450px;
  margin-left: 20px;
  INPUT {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  SPAN {
    margin: 10px 0px 10px 10px;
    color: $lightBlueColor;
    font-size: 16px;
    font-weight: bold;
  }
}

.LeftCol {
  background-color: $darkBlueColor;
  SPAN {
    line-height: 22px;
    display: block;
  }
  span:first-child {
    padding-top: 15px;
    color: $greyBColor;
  }
  span:last-child {
    color: white;
    font-size: 1.7rem;
  }
  .IndicPart {
    line-height: 20px;
    color: white;
    padding-top: 20px;
  }
}

.IndicName {
  width: 90%;
  font-size: 20px;
}

.Text {
  margin-top: 20px;
  margin-left: 15px;
  color: white;
  font-size: 16px;
}

.TextType {
  margin-left: 15px;
}
