@import '../../../style.scss';

.Actors {
  margin-bottom: 32px;

  .Map {
    box-shadow: 0px 15px 25px 0px #ccc !important;
    height: 250px;
    background-color: #a1dce2;
  }

  .CounterCard {
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    text-align: center;

    i {
      color: $lightBlueColor;
      padding: 10px;
      border-bottom: 1.5px solid $lightBlueColor;
    }

    .Buttons {
      padding-top: 16px;
      padding-left: 32px;
      padding-right: 32px;
      .Button {
        width: 80%;
        display: inline-block;
        padding: 5px;
        border-radius: 16px;
        background-color: $blueColor;
        color: white;
        font-weight: bold;
        span:first-child {
          display: inline-block;
          width: 80%;
          padding-left: 16px;
        }
        span:last-child {
          display: inline-block;
          width: 20%;
          text-align: center;
        }
      }
    }
  }

  .CounterCard + .CounterCard {
    margin-left: 5px;
  }
}
