@import '../../style.scss';

.exportBtn {
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 15px;
  span {
    font-style: italic;
    color: #295880;
  }
  button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.IndicList {
  overflow-y: auto;
  height: 280px;
}

.Menu {
  background-color: $skyBlueColor;
}


.dot {
  height: 35px;
  width: 35px;
  // color: $blueColor;

  border: 0;
  background-color: $blueColor;
  border-radius: 50%;
  i {
    color: white;
    // color: $blueColor;
  }
}

.Selector {
  display: inline-block;
  position: relative;
  DIV:first-child {
    background-color: $blueColor;
    position: absolute;
    z-index: 1000;
    width: 440px;
    height:440px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.BtnCountry {
  display: inline-block;
  padding: 5px 10px;
  width: 440px;
  overflow: auto;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: white;
  background-color: $blueColor;
  SPAN {
    color: white;
    // background-color: white;
  }
  border-radius: 15px;
  // font-style: italic;
  border: 0;
  cursor: pointer;
}

.BtnInList {
  color: white;
  cursor: pointer;
}

.legendDot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.legend {
  margin-right: 30px;
}

.src {
  span {
    font-style: normal;
  }
  float: right;
  margin-top: 5px;
}

.Slider {
  background-color: $blueColor;
}

.Search {
  margin-left: 10px;
}

.ListSearch {
  color: white;
  // font-style: italic;
  input {
    width: 350px;
    //font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    border: 0px solid;
    padding-left: 15px;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }
  input::-moz-placeholder {
     font-style: italic;
  }

  span {
    font-style: normal;
  }
}
