@import '../../style.scss';

.exportBtn {
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 15px;
  span {
    font-style: italic;
    color: #295880;
  }
  button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.Menu {
  background-color: $skyBlueColor;
}

.Title {
  span:first-child {
    font-style: italic;
    color: $darkBlueColor;
    // color: $greyAColor;
  }
}

.dot {
  height: 35px;
  width: 35px;
  // color: $blueColor;

  border: 0;
  background-color: $blueColor;
  border-radius: 50%;
  i {
    color: white;
    // color: $blueColor;
  }
}

.legendDot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.legend {
  margin-right: 30px;
}

.src {
  span {
    font-style: normal;
  }
  float: right;
  margin-top: 5px;
}

.ScrollBar {
  background-color: $blueColor;
}
