@import '../../../../style.scss';

.exportBtn {
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 15px;
  span {
    font-style: italic;
    color: #295880;
  }
  button {
    margin-left: 8px;
    margin-right: 15px;
    cursor: pointer;
  }
}

.dot {
  height: 35px;
  width: 35px;
  // color: $blueColor;

  border: 0;
  background-color: $blueColor;
  border-radius: 50%;
  i {
    color: white;
    // color: $blueColor;
  }
}

.src {
  span {
    font-style: normal;
  }
  float: right;
  margin-top: 5px;
}
