@import '../../../../style.scss';

.Header {
  text-align: center;
}

.Logo {
  color: grey;
}

.Title {
  color: grey;
  font-style: italic;
  text-transform: uppercase;
}
.Content {
  margin-top: 36px;

}
.ButtonWithModal {
  .Button {
    color: white;
    background-color: $blueColor;
    border-radius: 16px;
    font-weight: bold;
  }
}

.Modal80w{
  max-width: 80%;
}