@import '../../style.scss';

.Fiche {
  background-color: $skyBlueColor;

  .ResumeAndSituation {
    margin-top: 16px;
    .Resume {
      background-color: white;
      margin-left: 16px;
      box-shadow: 0px 15px 25px 0px #ccc !important;
      height: 472px;
      position: relative;
    }
    .Text {
      position: absolute;
      background-color: white;
      margin: 36px;
      padding-right: 24px;
      overflow-y: scroll;
      height: 400px;
      color: $darkBlueColor;
      font-size: 0.9rem;
      font-family: 'Bitter', serif;
      display: inline-block;
    }
    .Text::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 8px;
      background-color: $skyBlueColor;
    }
    .Text::-webkit-scrollbar-thumb {
      border: solid 8px $darkBlueColor;
      -webkit-border-radius: 8px;
      -webkit-box-shadow: inset 0 0 0 0px $darkBlueColor, inset 0 0 0 6px White;
    }
    .CountryMap {
      background-color: white;
      box-shadow: 0px 15px 25px 0px #ccc !important;
      height: 552px;
    }
    .AllContactsLink {
      height: 80px;
      color: white;
      background-color: $blueColor;
      position: absolute;
      top: 472px;
      width: 100%;
      box-shadow: 0px 15px 25px 0px #ccc !important;
      margin-left: 0;
      font-size: 1.3rem;
    }
  }

  .MemberOf {
    margin-top: 16px;
    margin-left: 16px;
    .Bloc {
      background-color: white;
      box-shadow: 0px 15px 25px 0px #ccc !important;
      height: 120px;
    }
  }

  .Actors {
    margin-bottom: 32px;

    .Map {
      box-shadow: 0px 15px 25px 0px #ccc !important;
      height: 250px;
      background-color: #a1dce2;
      margin-left: 17px;
    }

    .col {
      padding-left: 5px;
      padding-right: 0px;
    }

    .ActorsList {
      margin-top: 20px;

      .SubTitleActors {
          font-weight: bold;
      }
    }

    .gridActors {
      padding-left: 16px;
    }

    .CounterCard {
      background-color: white;
      margin-top: 5px;
      text-align: center;
      padding: 15px;
      color: $darkBlueColor;
      font-family: 'Bitter', serif;

      span {
        color: $blueColor;
        font-weight: bold;
        font-family: 'Bitter', serif;
      }

      i {
        color: $lightBlueColor;
        padding: 10px;
        border-bottom: 1.5px solid $lightBlueColor;
      }

      .Buttons {
        padding-top: 16px;
        padding-left: 32px;
        padding-right: 32px;

        .Button {
          display: inline-block;
          padding: 5px;
          border-radius: 16px;
          background-color: $blueColor;
          color: white;
          font-size: 0.9em;
          font-weight: bold;
          span:first-child {
            display: inline-block;
            width: 80%;
            padding-left: 16px;
          }
          span:last-child {
            display: inline-block;
            width: 20%;
            text-align: center;
          }
        }
      }
    }

    .CounterCardEmpty {
      background-color: none;
      margin-top: 5px;
      text-align: center;
      padding: 15px;
      color: $darkBlueColor;

      div:first-child {
        color: $blueColor;
        font-weight: bold;
        font-family: 'Bitter', serif;

        .label {
          color: $darkBlueColor;
          font-weight: lighter;
        }
      }

      i {
        color: $lightBlueColor;
        padding: 10px;
        border-bottom: 1.5px solid $lightBlueColor;
      }

      .Buttons {
        padding-top: 16px;
        padding-left: 32px;
        padding-right: 32px;

        .Button {
          display: inline-block;
          padding: 5px;
          border-radius: 16px;
          background-color: $blueColor;
          color: white;
          font-size: 0.9em;
          font-weight: bold;
          span:first-child {
            display: inline-block;
            width: 80%;
            padding-left: 16px;
          }
          span:last-child {
            display: inline-block;
            width: 20%;
            text-align: center;
          }
        }
      }
    }
  }

    .InstitutionCard {
      background-color: white;
      margin-top: 15px;
      padding: 20px;
      height: 510px;

      .title {
        color: $darkBlueColor;
        font-family: 'Bitter',serif;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 40px;
        height: 48px;
        overflow: hidden;
      }

      .subtitle {
        color: $darkBlueColor;
        font-family: 'Bitter',serif;
        font-style: italic;
        padding-left: 15px;
        height: 48px;
      }

      .sigle {
        margin: 15px;
        border-top: $lightBlueColor solid 2px;
        border-bottom: $lightBlueColor solid 2px;
        padding-top: 5px;
        padding-bottom: 5px;

        DIV:first-child {
          font-weight: bold;
          color: $darkBlueColor;
          font-family: 'Bitter',serif;
          height: 24px;
        }

        DIV:last-child {
          font-style: italic;
          color: $darkBlueColor;
          font-family: 'Bitter',serif;
          height: 24px;
        }
      }

      .description {
        height: 200px;
        overflow-y: scroll;

        .descriptionTitle {
          i {
            color: $darkBlueColor;
          }
          font-style: italic;
          color: $darkBlueColor;
        }

        .descriptionText {
          padding-top: 5px;
          color: $darkBlueColor;
          font-family: 'Bitter',serif;
          padding-left: 15px;
        }

      }

      .Buttons {
        padding-top: 16px;
        padding-left: 15px;
        padding-right: 32px;

        a {
          width: 70%;
        }

        .Button {
          display: inline-block;
          padding: 5px;
          border-radius: 16px;
          background-color: $blueColor;
          color: white;
          font-size: 0.9em;
          font-weight: bold;
          span:first-child {
            display: inline-block;
            width: 80%;
            padding-left: 16px;
          }
          span:last-child {
            display: inline-block;
            width: 20%;
            text-align: center;
          }
        }
      }
  }


}
