@import '../../../style.scss';

.HeaderTitle {
  padding-bottom: 0;
  padding-left: 50px;
  background-color: $darkBlueColor;
  border-bottom: solid rgb(0, 33, 59);
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 1001 !important;

  .Content {
    padding-top: 24px;
  }

  .Title {
    font-size: 2.5rem;
    color: $skyBlueColor;
    font-weight: bold ;
    font-family: 'Bitter', serif;
    padding-left: 14px;
  }

  .Select {
    color: white;
    background-color: $blueColor;
    border-radius: 15px;
    border-width: 0;
  }

  .BreadCrumb {
    font-style: 0.9rem;
    a {
      color: $lightBlueColor;
    }
    ol {
      padding-top: 0 !important;
      background-color: #ffffff00 !important;
    }
    .itemActive {
      color: $skyBlueColor !important;
      font-weight: bold !important;
    }
    .itemActive:before {
      content: ">" !important;
      color: $lightBlueColor !important;
    }
  }

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-left: 220px;
  }
  @media (min-width: 1043px) {
    padding-top: 0px;
    padding-left: 220px;
  }
  @media (min-width: 1200px) {
    padding-top: 0px;
    padding-left: 220px;
  }
  @media (min-width: 1550px) {
    padding-top: 0px;
    padding-left: 2rem;
  }
}
