@import '../../../style.scss';

.Contacts {
  margin-bottom: 32px;

  .MapContainer {
    box-shadow: 0px 15px 25px 0px #ccc !important;
    height: 250px;
    background-color: #a1dce2;
    padding: 0;
  }
  .Map {
    height: 250px;
    width: 100%;
  }
  .Cards {
    box-shadow: 0px 15px 25px 0px #ccc !important;
    background-color: #D2D4D5;

    div:first-child {
      padding-left: 0;
    }
    div:last-child {
      padding-right: 0;
    }

  }
  .Card {
    height: 450px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;

    .Container {
      background-color: white;
      height: 100%;
    }

    hr {
      margin: 0 32px;
    }

    .TopBanner {
      height: 10px;
      border-top: 4px solid $darkBlueColor;
    }

    .TopBannerSelected {
      height: 10px;
      border-top: 8px solid $magentaColor;
    }

    .Title {
      font-family: 'Bitter', serif;
      font-size: 1.4rem;
      font-weight: bold;
      color: $darkBlueColor;
      padding: 16px 0 0 32px;
      height: 100px;
    }

    .SubTitle {
      font-size: 1rem;
      font-weight: normal;
      font-style: italic;
      color: $darkBlueColor;
      padding-top: 16px;
      padding-bottom: 16px;
      SPAN {
        display: inline-block;
        width: 32px;
        text-align: center;
      }
    }

    .Address {
      font-size: 1.2rem;
      font-weight: bold;
      color: $darkBlueColor;
      padding-left: 32px;
    }

    .Buttons {
      padding-top: 16px;
      padding-left: 32px;
      padding-right: 32px;
      .Button {
        width: 80%;
        display: inline-block;
        padding: 5px;
        border-radius: 16px;
        background-color: $blueColor;
        color: white;
        font-weight: bold;
        span:first-child {
          display: inline-block;
          width: 80%;
          padding-left: 16px;
        }
        span:last-child {
          display: inline-block;
          width: 20%;
          text-align: center;
        }
      }
      .Button:hover {
        background-color: $greyAColor;
      }
    }

    .SocialNetworks {
      padding-left: 32px;

      A {
        display: inline-block;
        padding: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 16px;
        background-color: $blueColor;
        color: white;
        margin-right: 8px;
      }
      A:hover, A:focus {
        text-decoration: none;
        background-color: $greyAColor;
      }
    }

    .Error {
      color: $greyBColor;
      height: 55px;
      padding: 16px 32px;
      span:first-child {
        border: 1px solid $greyBColor;
        padding: 5px;
        border-radius: 16px;
      }
      span:last-child {
        display: inline-block;
        padding-left: 16px;
      }
    }
  }
}
