@charset "utf-8";

*, html {
  font-family: 'Inter UI';
}
html, body{
  height: 100%;
}

/* UI */
$darkBlueColor: #093E6C;
$blueColor: #006EC7;
$lightBlueColor: #ACD4F5;
$skyBlueColor: #EEF7FF;
$magentaColor: #FF195A;
$greyAColor: #647D94;
$greyBColor: #9DB3C7;
$shadowColorLight: #9DB3C7;
$shadowColorDark: #002d54;

/* hommePage map */
$mapBgColor: #FFB200;
$mapCountryColor: #ffeec9;
$mapCountryHighlightColor: white;
$mapBorderCountryColor: #777;

/* Fiche pays */
$orangeColor: #FFB200;

/* Graphiques */
$femmeParPaysColor: #FFB200;
$hommeColor: #9566B0;
$paysComparaison1Color: #D13B8C;
$paysComparaison2Color: #006EC7;
$mondeColor: #25ACEB;
$ocdeColor: #09CB66;
$ueColor: #093E6C;

/* Carto ESRI */
$sixPalliersColor1: #062947;
$sixPalliersColor2: #802A6B;
$sixPalliersColor3: #C24074;
$sixPalliersColor4: #F24F5D;
$sixPalliersColor5: #F5CE3D;
$sixPalliersColor6: #F2B51B;

$cinqPalliersColor1: #062947;
$cinqPalliersColor2: #A33662;
$cinqPalliersColor3: #F24F5D;
$cinqPalliersColor4: #F5CE3D;
$cinqPalliersColor5: #F2B51B;

$quatrePalliersColor1: #062947;
$quatrePalliersColor2: #A33662;
$quatrePalliersColor3: #F24F5D;
$quatrePalliersColor4: #F2B51B;

/* Classements */
$yellowColor: #FFDE23;

/* Oragne clair carte avec capitale */
$lightOrange: #FFD980;


:export {
  /* Exports pour GraphCurie */
  firstCountry: $femmeParPaysColor;
  secondCountry: $paysComparaison1Color;
  thirdCountry: $paysComparaison2Color;
  monde: $mondeColor;
  ocde: $ocdeColor;
  ue: $ueColor;

  /* Exports pour la carte avec la capitale */
  otherCountryColor: $lightOrange;

  darkBlueColor: $darkBlueColor;
  blueColor: $blueColor;
  lightBlueColor: $lightBlueColor;
  skyBlueColor: $skyBlueColor;
  magentaColor: $magentaColor;
  greyAColor: $greyAColor;
  greyBColor: $greyBColor;
  shadowColorLight: $shadowColorLight;
  shadowColorDark: $shadowColorDark;

  mapBgColor: $mapBgColor;
  mapCountryColor: $mapCountryColor;
  mapCountryHighlightColor: $mapCountryHighlightColor;
  mapBorderCountryColor: $mapBorderCountryColor;

  orangeColor: $orangeColor ;
  femmeParPaysColor: $femmeParPaysColor ;
  hommeColor: $hommeColor ;
  paysComparaison1Color: $paysComparaison1Color ;
  paysComparaison2Color: $paysComparaison2Color ;
  mondeColor: $mondeColor ;
  ocdeColor: $ocdeColor ;
  ueColor: $ueColor ;
  sixPalliersColor1: $sixPalliersColor1 ;
  sixPalliersColor2: $sixPalliersColor2 ;
  sixPalliersColor3: $sixPalliersColor3 ;
  sixPalliersColor4: $sixPalliersColor4 ;
  sixPalliersColor5: $sixPalliersColor5 ;
  sixPalliersColor6: $sixPalliersColor6 ;
  cinqPalliersColor1: $cinqPalliersColor1 ;
  cinqPalliersColor2: $cinqPalliersColor2 ;
  cinqPalliersColor3: $cinqPalliersColor3 ;
  cinqPalliersColor4: $cinqPalliersColor4 ;
  cinqPalliersColor5: $cinqPalliersColor5 ;
  quatrePalliersColor1: $quatrePalliersColor1 ;
  quatrePalliersColor2: $quatrePalliersColor2 ;
  quatrePalliersColor3: $quatrePalliersColor3 ;
  quatrePalliersColor4: $quatrePalliersColor4 ;
}

/* OMBRES*/
$boxShadowLight: 0px 10px 10px 0px $shadowColorLight !important;
$boxShadowDark: 0px 10px 10px 0px $shadowColorDark !important;
.ShadowLight {
  box-shadow: $boxShadowLight;
}
.ShadowDark {
  box-shadow: $boxShadowDark;
}

/* BANNIERES*/
/* couleurs de bannières avec boutons */
.BannerLight {
  background-color: $skyBlueColor;
  color: $darkBlueColor;
  a {
    color: $skyBlueColor;
  }
  .Button{
    background-color: $blueColor;
    color: $skyBlueColor;
  }
}
.BannerDark {
  background-color: $blueColor;
  color: $skyBlueColor;
  a {
    color: $darkBlueColor;
  }
  .Button {
    background-color: $skyBlueColor;
    color: $darkBlueColor;
  }
}
.BannerDeep {
  background-color: $darkBlueColor;
  color: $skyBlueColor;
  a {
    color: $darkBlueColor;
  }
  .Button {
    background-color: $skyBlueColor;
    color: $darkBlueColor;
  }
}

/* Header */

/* HomePage */
$bgHomePageSearch: $blueColor;
$bgDiscoverDataEsr: $blueColor;

/* Lexique */
$bgLexicon: $darkBlueColor;

/* Footer */
$bgFooter: $darkBlueColor;
$footerHeight: 15%;

/*HeaderTitle*/
$bgHeaderTitle : $blueColor;
$colorHeaderTitle: $skyBlueColor;
$sizeHeaderTitle : 2em;
$colorBreadCrumbHeaderTitle : $skyBlueColor;

/*BreadCrumb*/
$breadcrumb-divider: quote(">");

$otherPagesPaddingTop: 90px;
$otherPagesPaddingBottom: 90px;

/*Medias*/
$colormediaperiod:$blueColor;

/*Ressources*/
$bgcolormSmallCard: $blueColor;
$ressourceColorDark: $darkBlueColor;
$ressourceColorLight: $lightBlueColor;
$ressourceUnderlineColor: $blueColor;

/* Boutons */
.BtnBlue {
  background-color: $blueColor;
  color: $skyBlueColor;
}
.BtnBlue:hover, .BtnBlue:focus {
  background-color:  $skyBlueColor;
  color: $blueColor;
}
.BtnBlueSelected {
  background-color:  $skyBlueColor;
  color: $blueColor;
}